<div class="navbar navbar-inverse navbar-fixed-top opaque-navbar" (window:scroll)="onWindowScroll($event)" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
              <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>
            </button>
            <img src="../../../assets/images/logo.png" class="navbar-brand" href="#" />
        </div>
        <div class="collapse navbar-collapse" id="navMain">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Committee</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Tickets</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>